body{
    background-color: brown;
}
#navbar{
flex-direction: column;
font-size: 10px;
}
#navbar ul {
margin: 0;
padding: 0;
}
#navbar ul li a{
    font-size: 19px;
    padding: 10px
}
h1{
    font-size: 1rem;
    color: cadetblue;
}
.h-secondary{
    font-size: 40px;
}
#navbar .search{
flex-direction: column;
padding:0px;
margin: 0px;
position: relative;
}

#home{
/* font-size: 1rem; */
}
.item{
    /* font-size: 1rem; */
}
#home::before{
height: 584px;
}
#navbar li{
    margin: 0;
    padding:0;
    }
    
#service{
    display: flex;
flex-wrap: wrap;

}
#client-section{
display: flex;
flex-direction: column;
}
#contact{
height: 370px;
}
footer{
    margin-top: 51px;

}